{% extends 'base.html.twig' %}

{% block title %}Inscription {{ parent() }}{% endblock %}

{% block body %}
<div class="container card">
    <div class="title">
        <h1>Créer un compte</h1>
        <a href="{{ path('app_home') }}" class="btn-title">Retour<i class="fa-solid fa-chevron-right"></i></a>
    </div>
    <div class="method-account">
        <p>Déjà inscrit ?</p>
        <a href="{{ path('app_login') }}">Se connecter</a>
    </div>
    {{ form_start(registrationForm) }}
    {{ form_row(registrationForm.pseudo, {'label':false}) }}
    {{ form_row(registrationForm.slug, {'label':false}) }}
    {{ form_row(registrationForm.email, {'label':false}) }}
    {{ form_row(registrationForm.plainPassword, {'label':false}) }}
    <div class="checkbox">
        <label class="container">
            En cochant cette case j'accepte <a href="{{ path('app_confidentialite') }}">les conditions d'utilisation</a>
            <input type="checkbox" checked="checked">
            {{ form_widget(registrationForm.agreeTerms) }}
            <span class="checkmark"></span>
        </label>
    </div>
    <div>
        <button type="submit" class="btn-account">S'inscrire</button>
    </div>
    {{ form_end(registrationForm) }}
</div>
{% endblock %}