{% extends 'base.html.twig' %}

{% block title %}Landing page {{parent()}}{% endblock %}

{% block body %}
<div class="container" style= "font-family: {{user.font}}, Sans serif;">
    <section class="compagny">
        <img src="{{user.sectionCompany.logo}}" alt="">
        <h1>{{user.sectionCompany.title}}</h1>
        <p>{{user.sectionCompany.baseline}}</p>
    </section>
    <section class="video">
        <iframe src="{{ user.sectionVideo.link|replace({'watch?v=': 'embed/'}) }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allow="fullscreen"></iframe>
        {# TO DO = remplacer valeur "watch?v=" par "embed/" #}
    </section>
    <section class="discount">
        {% for code in user.codes %}
            <div class="code">
                <span class="btn btn-code">{{code.code}}</span>
                <p>{{code.description}}</p>
            </div>
        {% endfor %}
    </section>
    <section class="link">
        {% for link in user.links %}
            <a target="_blank" href="{{link.link}}" class="btn btn-link">{{link.name}}</a>
        {% endfor %}
    </section>
    <section class="rs">
        {% for network in user.networks %}
            {% if network.instagram %}
                <a target="_blank" href="https://www.instagram.com/{{network.instagram}}" class="rs"><i class="fa-brands fa-instagram"></i></a>
            {% endif %}
            {% if network.facebook %}
                <a target="_blank" href="https://www.facebook.com/{{network.facebook}}" class="rs"><i class="fa-brands fa-facebook-f"></i></a>
            {% endif %}
            {% if network.youtube %}
                <a target="_blank" href="https://www.youtube.com/{{network.youtube}}" class="rs"><i class="fa-brands fa-youtube"></i></a>
            {% endif %}
            {% if network.gitHub %}
                <a target="_blank" href="https://github.com/{{network.gitHub}}" class="rs"><i class="fa-brands fa-github"></i></a>
            {% endif %}
            {% if network.twitter %}
                <a target="_blank" href="https://twitter.com/{{network.twitter}}" class="rs"><i class="fa-brands fa-twitter"></i></a>
            {% endif %}
            {% if network.tikTok %}
                <a target="_blank" href="https://www.tiktok.com/{{network.tikTok}}" class="rs"><i class="fa-brands fa-tiktok"></i></a>                                              
            {% endif %}
        {% endfor %}
    </section>
</div>
{% endblock %}
