{% extends 'base.html.twig' %}

{% block title %}Connexion {{ parent() }}{% endblock %}

{% block body %}
<div class="container card">
    <div class="title">
        <h1>Se connecter</h1>
        <a href="{{ path('app_home') }}" class="btn-title">Retour<i class="fa-solid fa-chevron-right"></i></a>
    </div>
    <div class="method-account">
        <p>Nouveau utilisateur ?</p>
        <a href="{{ path('app_register') }}">Créer un compte</a>
    </div>
    {% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form action="{{ path('app_login') }}" method="post">
        <div>
            <input type="email" id="username" name="_username" value="{{ last_username }}" plaaceholder="Email"
                class="form-input-account" />
        </div>
        <div>
            <input type="password" id="password" name="_password" plaaceholder="Mot de passe"
                class="form-input-account" />
        </div>
        {# If you want to control the URL the user is redirected to on success #}
        {# <input type="hidden" name="_target_path" value="{{ path('app_adminUser', {slug: user.slug}) }}"/> #}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <button type="submit">Connexion</button>
    </form>
</div>
{% endblock %}