<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}- Adlink.bio{% endblock %}</title>
    <script src="https://kit.fontawesome.com/0a5e10928d.js" crossorigin="anonymous"></script>
    <link rel="icon" type="image/x-icon" href="{{ asset('img/favicon.svg') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Audiowide&family=Dancing+Script:wght@400;700&family=Gluten:wght@400;700&family=Kalam:wght@400;700&family=Lato:wght@400;700&family=Lora:wght@400;700&family=Montserrat:wght@400;700&family=Open+Sans:wght@400;700&family=Playfair+Display:wght@400;700&family=Poppins:wght@400;500;700&family=Raleway:wght@400;700&family=Roboto:wght@400;700&family=Turret+Road:wght@400;700&display=swap" rel="stylesheet">
    {% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>

<body>
    {{ include('_header.html.twig') }}
    <main>
        {% block body %}{% endblock %}
    </main>
    {{ include('_footer.html.twig') }}
</body>

</html>