<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}- Adlink.bio{% endblock %}</title>
    <script src="https://kit.fontawesome.com/0a5e10928d.js" crossorigin="anonymous"></script>
    <link rel="icon" type="image/x-icon" href="{{ asset('img/favicon.svg') }}">
    {% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>

<body>
    {{ include('_header.html.twig') }}
    <main>
        {% block body %}{% endblock %}
    </main>
    {{ include('_footer.html.twig') }}
</body>

</html>