{% extends 'base.html.twig' %}

{% block title %}Dashboard Admin {{parent()}}{% endblock %}

{% block body %}
    <div class="container">
        <div class="title">
            <h1>Dashboard</h1>
            <a href="" class="logout">Déconnexion<i class="fa-solid fa-arrow-right-from-bracket"></i></a>
        </div>
        <p>Nombre de clients : </p>
        <div class="table">
            <table>
                <tr>
                    <th>Nom client</th>
                    <th>Slug</th>
                    <th>Date de création</th>
                    <th>email</th>
                    <th></th>
                </tr>
                {% for user in users %}
                    <tr>
                        <td>{{user.pseudo}}</td>
                        <td>{{user.slug}}</td>
                        <td>{{ user.createAt|date('d/m/Y') }}</td>
                        <td>{{user.email}}</td>
                        <td>
                            <a href="{{ path('app_landing', {slug: user.slug}) }}"><i class="fa-regular fa-eye"></i></a>
                            <a href="{{ path('app_adminUser', {slug: user.slug}) }}"><i class="fa-solid fa-pen"></i></a>
                            <a href=""><i class="fa-solid fa-trash-can"></i></a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}