{% extends 'base.html.twig' %}

{% block title %}Dashboard {{user.pseudo}} {{parent()}}{% endblock %}

{% block body %}
<div class="container">
    <div class="title">
        <h1>Dashboard</h1>
        <a href="" class="logout">Déconnexion<i class="fa-solid fa-arrow-right-from-bracket"></i></a>
    </div>
    <a href="{{ path('app_landing', {slug: user.slug}) }}" class="btn-admin">Voir le site</a>
    <div class="font-form">
        {{ form_start(formFont)}}
        {{ form_row(formFont.font)}}
        {{ form_row(formFont.save) }}
        {{ form_end(formFont) }}
    </div>
    <div class="sections">
        <section class="section-company">
            <div class="section-title">
                <h2>Section présentation</h2>
                <div class="visible">
                    <label class="toggle">
                        <span class="toggle-off">Visible : Non</span>
                        <input type="checkbox"><span class="slider round"></span>
                        <span class="toggle-on">Oui</span>
                    </label>
                </div>
            </div>
            <div class="section-content">
                <div class="form-user">
                    {{ form_start(formCompany)}}
                    <h3>Information de la section</h3>
                    {{ form_row(formCompany.logoFile)}}
                    {{ form_row(formCompany.title)}}
                    {{ form_row(formCompany.baseline)}}
                    <h3>Style de la section</h3>
                    {{ form_row(formCompany.bgColor)}}
                    {{ form_row(formCompany.titleColor)}}
                    {{ form_row(formCompany.baselineColor)}}
                    {{ form_row(formCompany.save) }}
                    {{ form_end(formCompany) }}
                </div>
                <div class="render">
                    <h3>Rendu sur le site</h3>
                    <img src="{{ asset('img/s1.png') }}" alt="">
                </div>
            </div>
        </section>
        <section class="section-video">
            <div class="section-title">
                <h2>Section vidéo</h2>
                <div class="visible">
                    <label class="toggle">
                        <span class="toggle-off">Visible : Non</span>
                        <input type="checkbox"><span class="slider round"></span>
                        <span class="toggle-on">Oui</span>
                    </label>
                </div>
            </div>
            <div class="section-content">
                <div class="form-user">
                    {{ form_start(formVideo)}}
                    <h3>Information de la section</h3>
                    {{ form_row(formVideo.link)}}
                    {{ form_row(formVideo.altVideo)}}
                    <h3>Style de la section</h3>
                    {{ form_row(formVideo.bgColor)}}
                    {{ form_row(formVideo.save) }}
                    {{ form_end(formVideo) }}
                </div>
                <div class="render">
                    <h3>Rendu sur le site</h3>
                    <img src="{{ asset('img/s2.png') }}" alt="">
                </div>
            </div>
        </section>
        <section class="section-discount">
            <div class="section-title">
                <h2>Section codes promo</h2>
                <div class="visible">
                    <label class="toggle">
                        <span class="toggle-off">Visible : Non</span>
                        <input type="checkbox"><span class="slider round"></span>
                        <span class="toggle-on">Oui</span>
                    </label>
                </div>
            </div>
            <div class="section-content">
                <div class="form-user">
                    <h3>Information de la section</h3>
                    {{ form(formCode) }}
                    <h3>Style de la section</h3>
                    {{ form(formDiscountStyle) }}
                </div>
                <div class="render">
                    <h3>Rendu sur le site</h3>
                    <img src="{{ asset('img/s3.png') }}" alt="">
                </div>
            </div>
        </section>
        <section class="section-link">
            <div class="section-title">
                <h2>Section liens utiles</h2>
                <div class="visible">
                    <label class="toggle">
                        <span class="toggle-off">Visible : Non</span>
                        <input type="checkbox"><span class="slider round"></span>
                        <span class="toggle-on">Oui</span>
                    </label>
                </div>
            </div>
            <div class="section-content">
                <div class="form-user">
                    <h3>Information de la section</h3>
                    {{ form(formLink) }}
                    <h3>Style de la section</h3>
                    {{ form(formLinkStyle) }}
                </div>
                <div class="render">
                    <h3>Rendu sur le site</h3>
                    <img src="{{ asset('img/s4.png') }}" alt="">
                </div>
            </div>
        </section>
        <section class="section-rs">
            <div class="section-title">
                <h2>Section réseaux sociaux</h2>
                <div class="visible">
                    <label class="toggle">
                        <span class="toggle-off">Visible : Non</span>
                        <input type="checkbox"><span class="slider round"></span>
                        <span class="toggle-on">Oui</span>
                    </label>
                </div>
            </div>
            <div class="section-content">
                <div class="form-user">
                    <h3>Information de la section</h3>
                    {{ form(formNetwork) }}
                    <h3>Style de la section</h3>
                    {{ form(formNetworkStyle) }}
                </div>
                <div class="render">
                    <h3>Rendu sur le site</h3>
                    <img src="{{ asset('img/s5.png') }}" alt="">
                </div>
            </div>
        </section>
        <section class="section-account">
            <h3>Information du compte</h3>
            <div class="section-content">
            </div>
        </section>
    </div>
</div>
{% endblock %}