{% extends 'base.html.twig' %}

{% block title %}Dashboard {{user.pseudo}} {{parent()}}{% endblock %}

{% block body %}
    <h1>Dashboard</h1>
    <a href="/{{user.slug}}">Voir le site</a>
    <div class="font-form">
        {{ form(formFont) }}
    </div>
    <section class="section-company">   
        <div class="section-title">
            <h2>Section présentation</h2>
            <label class="switch">
                <span>Visible : non</span>
                <input type="checkbox"><span class="slider round"></span>
                <span>oui</span>
            </label>
        </div>
        <div class="form-user">
            <h3>Information de la section</h3>
                {{ form_row(formCompany.logo)}}
                {{ form_row(formCompany.title)}}
                {{ form_row(formCompany.baseline)}}    
            <h3>Style de la section</h3>
                {{ form_row(formCompany.bgColor)}}
                {{ form_row(formCompany.titleColor)}}
                {{ form_row(formCompany.baselineColor)}}     
                {{ form_rest(formCompany) }}           
        </div>
        <div class="render">
            <h3>Rendu sur le site</h3>
            <img src="{{ asset('img/s1.png') }}" alt="">
        </div>
    </section>
    <section class="section-video">
        <div class="section-title">
            <h2>Section vidéo</h2>
            <label class="switch">
                <span>Visible : non</span>
                <input type="checkbox"><span class="slider round"></span>
                <span>oui</span>
            </label>
        </div>
        <div class="form-user">
            <h3>Information de la section</h3>
                {{ form_row(formVideo.link)}}         
                {{ form_row(formVideo.altVideo)}}  
            <h3>Style de la section</h3>
                {{ form_row(formVideo.bgColor)}}  
                {{ form_rest(formVideo) }}       
        </div>
        <div class="render">
            <h3>Rendu sur le site</h3>
            <img src="{{ asset('img/s2.png') }}" alt="">
        </div>
    </section>
    <section class="section-discount">
        <div class="section-title">
            <h2>Section codes promo</h2>
            <label class="switch">
                <span>Visible : non</span>
                <input type="checkbox"><span class="slider round"></span>
                <span>oui</span>
            </label>
        </div>
        <div class="form-user">
            <h3>Information de la section</h3>
                {{ form(formCode) }}
            <h3>Style de la section</h3>
                {{ form(formDiscountStyle) }}

        </div>
        <div class="render">
            <h3>Rendu sur le site</h3>
            <img src="{{ asset('img/s3.png') }}" alt="">
        </div>
    </section>
    <section class="section-link">
        <div class="section-title">
            <h2>Section liens utiles</h2>
            <label class="switch">
                <span>Visible : non</span>
                <input type="checkbox"><span class="slider round"></span>
                <span>oui</span>
            </label>
        </div>
        <div class="form-user">
            <h3>Information de la section</h3>
                {{ form(formLink) }}
            <h3>Style de la section</h3>
                {{ form(formLinkStyle) }}

        </div>
        <div class="render">
            <h3>Rendu sur le site</h3>
            <img src="{{ asset('img/s4.png') }}" alt="">
        </div>
    </section>
    <section class="section-rs">
        <div class="section-title">
            <h2>Section réseaux sociaux</h2>
            <label class="switch">
                <span>Visible : non</span>
                <input type="checkbox"><span class="slider round"></span>
                <span>oui</span>
            </label>
        </div>
        <div class="form-user">
            <h3>Information de la section</h3>
                {{ form(formNetwork) }}
            <h3>Style de la section</h3>
                {{ form(formNetworkStyle) }}

        </div>
        <div class="render">
            <h3>Rendu sur le site</h3>
            <img src="{{ asset('img/s5.png') }}" alt="">
        </div>
    </section>
{% endblock %}
